<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Todo List App</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link href="../static/signup.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(() => {
        const userLevel = Number("{{userLevel}}");
        if (userLevel === 0) {
          $("#admin_view").remove();
          $("#admin_add").remove();
        }

        function parseDataToHtml(data, date) {
          data.forEach((item, index) => {
            const { name, event = "", price, _id: id } = item;
            const i = `
                <tr id="itemRow${id}">
                  <th scope="row">${index + 1}</th>
                  <td>
                  ${name}</td>
                  <td>
                    ${event}</td>
                  <td> $${price}
                  </td>
                  <td>
                    ${date}
                  </td>
                </tr>
              `;
            $("#items").append(i);
          });
        }

        function getitems() {
          $.ajax({
            url: "/purchases",
            type: "GET",
            success: function (response) {
              const data = JSON.parse(response);
              const { items } = data;
              $("#items").children().remove();
              data.forEach((record) => {
                const { date, items } = record;
                parseDataToHtml(items, date);
              });
            },
            error: function (error) {
              console.log(error);
            },
          });
        }
        // fetch data for the first time
        getitems();
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/userHome">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/showCarts">Shopping Cart</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/showPurchases">Purchase History</a>
              </li>
              <li id="admin_view" class="nav-item">
                <a class="nav-link" href="/admin">Admin View</a>
              </li>
              <li id="admin_add" class="nav-item">
                <a class="nav-link" href="/showAddItem">Add Item</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </nav>

        <h3 class="text-muted">Python Flask App</h3>
      </div>

      <div class="jumbotron">
        <h1>Welcome to Purchase Page</h1>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Event type</th>
            <th scope="col">Price</th>
            <th scope="col">Purchase Date</th>
          </tr>
        </thead>
        <tbody id="items"></tbody>
      </table>
    </div>
  </body>
</html>
